.banner-announcement-container .banner-announcement-wrapper {
  max-width: unset;
  padding: 0;
}

.banner-announcement {
  background-color: var(--color-dark-blue);
  color: var(--color-white);
  padding: 16px 24px;
  text-align: center;
  font-size: var(--body-font-size-m);
  line-height: 1.5;
}

.banner-announcement h2 {
  color: var(--color-white);
  font-size: var(--body-font-size-m);
  font-weight: 600;
  margin: 0;
}

.banner-announcement p {
  margin: 0;
  color: inherit;
}

.banner-announcement a:any-link {
  color: var(--color-white);
  text-decoration: underline;
  font-weight: 600;
}

.banner-announcement a:hover {
  color: var(--color-accent-blue);
}
